<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="Event" type="com.seu.campus.event.registration.model.Event"/>
        <typeAlias alias="Registration" type="com.seu.campus.event.registration.model.Registration"/>
        <typeAlias alias="User" type="com.seu.campus.event.registration.model.User"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/db_campus_event?allowPublicKeyRetrieval
                =true&amp;useSSL=false&amp;useUnicode=true&amp;characterEncoding=utf-8&amp;
                serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/EventMapper.xml"/>
        <mapper resource="mapper/RegistrationMapper.xml"/>
    </mappers>

</configuration>